PORT=5000
NODE_ENV=production
POSTGRES_URL=postgres://postgres.snqttubxaeukcrvbsmjb:ntmFPkmiGwDpIxMV@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://postgres.snqttubxaeukcrvbsmjb:ntmFPkmiGwDpIxMV@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ntmFPkmiGwDpIxMV
POSTGRES_HOST=db.snqttubxaeukcrvbsmjb.supabase.co
POSTGRES_DATABASE=postgres
JWT_SECRET=aurum_and_co_secret_key_2024_super_secure
JWT_EXPIRES_IN=7d
CLIENT_URL=*
SUPABASE_URL=https://snqttubxaeukcrvbsmjb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNucXR0dWJ4YWV1a2NydmJzbWpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1ODM2MzcsImV4cCI6MjEwMTE1OTYzN30.THUdlcgwb07YpJ7aHOgGOTK-860kXrq3iGziXYFkLoc
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_POKpkNbecJCB555B4tIB3g_6KYfbUXd
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNucXR0dWJ4YWV1a2NydmJzbWpiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTU4MzYzNywiZXhwIjoyMTAxMTU5NjM3fQ.TiCGx7OlkU-yt-IWwlSFeDojCBQJfWkWLBiL0MOCzs8
